html, body{
	min-width: 960px;

	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	color: #ffffff;

	background: #000000 url("../img/bg-index.jpg") no-repeat center top;
}


/*Специальные классы*/
.container{			/*border: 1px solid green;*/
	width: 940px;
	margin: 0 auto;
	padding: 0 10px; 
}
.container_mini{
	width: 188px;
	padding: 0 15px; 
}
.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

/*Обычные классы*/


.main_header{
	margin-bottom: 55px;
	color: #ffffff;
	background: #000000;
}

.main_navigation{
	float: left;
	width: 780px;
}
.main_navigation a{
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 25px 20px;
}
.main_navigation a:hover{
	background-color: #232323;
}
.main_navigation ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
}
.main_navigation li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}

.user_block{
	float: right;
	max-width: 140px;
}
.login{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 25px 20px 25px 50px; 

	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
}
.login:hover{
	background-color: #232323;
}
.login:hover::before{
	opacity: 1;
}
.login::before{
	content: "";

	width: 25px;
	height: 20px;

	position: absolute;
	top: 26px;
	left: 15px;

	background:  url("../img/sprite.png") no-repeat;
	background-position: -48px -10px;
	opacity: 0.3;
}


.index_logo{
	height: 204px;
	width: 368px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}
.index_logo img{
	height: 204px;
	width: 368px;
}


.features{
	margin-bottom: 80px; 
}
.features_item{
	float: left;
	width: 300px;
	margin-right: 20px;
	text-align: center;
}
.features_item:last-child{
	margin-right: 0px;
}
.features_name{
	position: relative;

	display: block;
	margin-bottom: 30px;
	padding-bottom: 35px;

	font-size: 30px;
	line-height: 42px;
}
.features_name::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;

	background: #ffffff;
	transform: rotate(45deg);
}
.features_item p{
	margin: 10px;
	margin-bottom: 0;
}


.index_content{
	margin-bottom: 35px; 
	padding: 50px 80px;

	color: #000000;
	background: url(../img/index-content-shadow.png) center no-repeat,
	#f8f5f2 url("../img/pattern-white.jpg");
	
}
.index_content:last-child{
	
	margin-bottom: 65px;
}
.index_content_left{
	width: 380px;
	float: left;
}
.index_content_right{
	width: 300px;
	float: right;
}
.gallery{
	border:1px solid;
}




.item_content{
	padding-bottom: 50px; border: 1px solid gold;
}
.page{
	margin-bottom: 60px; border: 1px solid green;
}
.item_content_left{
	float: left; 
	width: 460px;
}
.item_content_left .big_image{
	float: left;
	width: 100%;
	height: 500px;
	margin-bottom: 20px; 
}
.item_content_left .small_image{
	float: left;
	width: 140px;
	height: 150px;
	margin-right: 20px; 
}
.item_content_left .small_image:last-child{
	float: right;
	width: 134px;
	height: 150px;
	margin-right: 0px; 
}
.item_content_right{
	float: right; 
	width: 460px;
	padding-top: 25px;
}
.description span:first-child{
	float:left;
}
.description span{
	float:right;
}
.description p{
	clear:both;
	padding: 40px 0;
}
.price_product{
	margin-bottom: 65px;
}
.set ul{
	margin-top: 35px;
}



.price_content{
	padding-bottom: 80px; 
}

.price_content_left{
	float: left;
	width: 380px;
}

.price_content_right{
	float: right;
	width: 460px; 
}
.price_content>strong{
	display: block;
	
}
.price_content h3{
	margin: 70px 0 40px;
}
.price_content table{
	margin-bottom: 125px;
}


.shop_content_left{ 
	float: left;
	width: 220px;
}
.shop_content_left fieldset{
	margin-bottom: 50px;
}
.shop_content_left fieldset legend{
	margin-bottom: 32px;
}
.shop_content_right{
	float: right;
	width: 700px;
}
.shop_content_right article{
	float: left;
	/*box-sizing: border-box;*/
	width: 220px;
	height: 285px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.shop_content_right article h1{
	margin: 15px 0;
}
.shop_content_right article:nth-child(3n){
	margin-right: 0px;
	width: 220px;
}
.pagin{
	float: left;
	margin-top: 25px;
}









.main_footer{
	padding: 60px 0 40px 0; border: 2px solid cyan;
}
.footer_contacts{
	float:left;
	width: 320px; 
	margin-right: 60px;
}
.footer_social{
	float: left; 
	width: 180px;
}
.footer_copyright{
	float: right;
	width: 180px; 
}